[Unit]
Description=Gets audio/video services from several dvb cards.
#Documentation=man:dvbondemand(1)
After=network.target
AssertDirectoryNotEmpty=/dev/dvb

[Service]
Type=simple
ExecStart=/usr/sbin/dvbondemand start
ExecStop=/bin/bash -c "/bin/kill -s SIGINT $MAINPID; \
	while /bin/kill -0 $MAINPID; do \
		sleep 1; \
	done"
ExecReload=/bin/kill -s SIGHUP $MAINPID
StandardOutput=journal

[Install]
WantedBy=multi-user.target
