[Unit]
Description=Gets audio/video services from several dvb cards.
#Documentation=man:dvbondemand(1)
After=network.target
AssertDirectoryNotEmpty=/dev/dvb

[Service]
Type=simple
ExecStart=/usr/sbin/dvbondemand start
ExecStop=/usr/sbin/dvbondemand stop $MAINPID INT
ExecReload=/bin/kill -s HUP $MAINPID
StandardOutput=journal

[Install]
WantedBy=multi-user.target
