[Unit]
Description=Gets audio/video services from several dvb cards.
#Documentation=man:dvbondemand(1)
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c "! /usr/bin/systemctl enabled dvbondemand.service || \
	( /usr/bin/systemctl status dvbondemand.service && \
		/usr/bin/systemctl reload dvbondemand.service || \
		/usr/bin/systemctl restart dvbondemand.service )"

[Install]
