#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

BIN := $(notdir $(wildcard bin/*))
INIT := $(notdir $(wildcard debian/*init) $(wildcard debian/*default) $(wildcard debian/*post*) $(wildcard debian/*pre*))

%:
	dh $@

override_dh_auto_test: $(BIN:%=bin-%) $(INIT:%=init-%)

bin-%:
	$(info checking $* ...)
	@bash -O extglob -n bin/$*
	-@checkbashisms -f bin/$*

init-%:
	$(info checking $* ...)
	@dash -n debian/$*
	-@checkbashisms -f debian/$*

override_dh_installsystemd:
	dh_installsystemd --name=dvbondemand.service dvbondemand.service
	dh_installsystemd --name=dvbondemand-dev.path dvbondemand-dev.path
	dh_installsystemd --no-enable --name=dvbondemand-dev.service dvbondemand-dev.service
